body {
    color: white;
    background-color: #000;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}

.version {
    cursor: pointer;
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 1em;
    height: 2em;
}